.container_breeds{
    position:fixed;
    background-color: #f1f1f1;
    border: solid 1px #C1DDE1;
    border-radius: 10px;
    z-index: 10;
    top:10px;
    left: 80px;
    right: 10px;
    bottom: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    overflow: auto;
}

.box_breeds{
    height: 400px;
    margin: 5px;
    padding-top: 20px;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    h1{
        font-size: 1.2rem;
    }
    p{
        font-size: .9rem;
    }
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    ul{
        padding-left: 0;
        width: 90%;
    }
    li{
        padding-left: 0;
        font-size: .6rem;
        list-style-type:disc;
    }
}

.container_breeds::-webkit-scrollbar{
    width: 5px;
}
.container_breeds::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #b6b6b6;
}

.IconX_box_breeds{
    position: absolute;
    overflow: hidden;
    right: 5px;
    top: 5px;
}
.IconX_breeds{
    transition: all ease 200ms;
}

.IconX_breeds:hover{
    transform: rotate(45deg);
    transition: all ease 200ms;
}

@media
    (width < 720px){
        .container_breeds{
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            grid-template-columns: repeat(1,1fr);
        }
        .box_breeds{
            margin-top: 40px;
        }
    }