.container_landing{
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.box_navbar{
    position: absolute;
    height: 100%;
}
.box_landing{
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 80px;
}
.box_heading{
    display: grid;
    height:100%;
    align-items: flex-end;
    h1{
        margin: 0;
        z-index: 1;
    }
}
.sub_heading{
    display: grid;
    align-items: flex-start;
    height: 100%;
}
.icons_landing{
    position: absolute;
    width: 100px;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start   ;
}
.circle_langing{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 60%;
    right: 0;
    background-color: #C1DDE1;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.2s ease;
}

.off_landing{
    transform: scale(9);
}