.container_landing{
    display: flex;
    width: 100%;
    height: 100vh;
}
.box_navbar{
    position: absolute;
    height: 100%;
}
.box_landing{
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 80px;
}
.box_heading{
    display: grid;
    height:100%;
    align-items: flex-end;
    h1{
        margin: 0;
    }
}
.sub_heading{
    display: grid;
    align-items: flex-start;
    height: 100%;
}
.icons_landing{
    position: absolute;
    width: 100px;
    bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-content: flex-start   ;
}