.container_nav{
    display: grid;
    justify-content: center;
    height: 100%;
    border-right: solid 1px #C1DDE1;
}
.icon_menu2{
    display: flex;
    justify-content: center;
    background-color: #FFFF33;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
}
.image_nav{
    width: 30px;
    border-radius: 50%;
    border: solid 2px #ffff;
}