.container_nav{
    position: relative;
    display: grid;
    justify-content: right;
    height: 100%;
    border-right: solid 1px #C1DDE1;
    transition:all ease 500ms;
    overflow: hidden;
    background-color: #f1f1f1;
}
.circle {
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: #C1DDE1;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -100px;
    transform: scale(0);
    transition: transform 1.2s ease;
}
.box_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    .image_profile{
        margin-top: 10px;
        margin-right: 6px;
        width: 40px;
        border-radius: 50%;
        border: solid 3px #fff;
        color:#525252;
        transition:all ease 500ms;
    }
}
.icon_menu2{
    position: absolute;
    z-index: 3;
    bottom: 50%;
    left: 6px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7ADE3;
    border: solid 2px #fff;
    transition: all ease 300ms;
   
}
.icon_menu2:hover{
    background-color: #f18cd7;
    transition: all ease 300ms;
    .icon_menu{
        stroke: #fff;
        transition: all ease 300ms;
    }
}
.on{
    width: 100vw;
    border-right: none;
    transition: all ease 500ms;
    .circle{
        transform: scale(35);
    }
    .image_profile{
        width: 100px;
        margin-right: 10px;
        transition:all ease 500ms;
    }

}
.off{
    width: 54px;
    transition:all ease 500ms;
    .image_profile{
        transition:all ease 500ms;
    }
}
.box_info{
    display: flex;
    width: 100%;
    z-index: 2;
    .box_pets{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        height: 80px;
        background-color: #f1f1f1;
        border-radius: 40px;
        .image_razas{
            width: 70px;
            padding: 5px;
        }
    }
}
.info{
    width: 90vw;
    padding-right: 15px;
    display: grid;
    justify-content: center;
    overflow: hidden;
}


@media screen and (max-width:1920px){
    .on{
        .circle{
            transform: scale(45);
        }
    }
}
@media screen and (max-width:844px){
    .on{
        .circle{
            transform: scale(18);
        }
    }
    .info{
        font-size: 10px;
    }
}