.container_nav{
    position: relative;
    display: grid;
    justify-content: right;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-right: solid 1px #C1DDE1;
    transition:all ease 500ms;
    background-color: #ffff ;
}
.circle {
    z-index: 1;
    width: 100px;
    height: 100px;
    background-color: #C1DDE1;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -100px;
    transform: scale(0);
    transition: transform 1.2s ease;
}
.box_nav_image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-right: 3px;
}
.image_profile{
    margin-top: 10px;
    width: 36px;
    border-radius: 50%;
    border: solid 3px #fff;
    color:#525252;
    transition:all ease 500ms;
}
.icon_menu2{
    position: absolute;
    z-index: 3;
    bottom: 50%;
    left: 4px;
    width: 24px;
    height: 24;
    padding: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b10000;
    border: solid 2px #fff;
    color: #fff;
    transition: all ease 300ms;
    stroke-width: 2px;
    stroke-linecap:round;
    .top{
        transition:all ease 500ms; 
    }
    .middle{
        transition:all ease 100ms;
    }
    .bottom{
        transition:all ease 500ms;
    }
}
.icon_menu2:hover{
    background-color: #cc3030;
    transition: all ease 200ms;
}

.container_info_nav{
    display: flex;
    text-align: left;
    position: relative;
    z-index: 1;
    width: 95vw;
}
.box_nav{
    display: flex;
}

.box_info_nav{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top:30px;
    padding: 30px;
    width: 100%;
    h1{
        font-size: 2.5rem;
        margin-top: 0;
    }
}

.images_pets{
    display: flex;
    justify-content: center;
    img{
        border: solid 3px #f1f1f1;
        border-radius: 50%;
        margin-right: -20px;
    }
}

.box_tittle_nav{
    height: 100%;
    h1{
        padding-left: 10px;
        font-size: 2.4rem;
    }
    h2{
        padding-left: 10px;
    }
}

.box_pets_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 80px;
    border-radius: 60px;
}
.IconArrowRight_nav{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #f1f1f1;
    background-color: #b10000;
    transition: all ease 200ms;
}
.IconArrowRight_nav:hover{
    background-color: #cc3030;
    transition: all ease 200ms;

}
.image_razas{
    width: 80px;
    border-radius: 50%;
}

.compromise_nav{
    display: grid;
    align-content: flex-start;
    height: 100%;
    padding-inline: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #f1f1f1;
    text-wrap: pretty;
    h2{
        display: flex;
        align-items: center;
    }
    .IconShield_nav{
        margin-right: 3px;
        color: #FFB600;
        fill:#FFB600
    }
}

.box_contact_nav{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-top: 83px;
}

.contact_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    .icon_contact_nav{
        padding-right: 3px;
    }
    .map_nav{
        margin-left: -1px;
    }
    p{
        display: flex;
        align-items: center;
        margin: 0; 
        a{
            display: flex;
            align-items: center;
        }   
    }
}

.box_payment_nav{
    padding-top: 35px;
    height:100%;
}

.on{
    width: 100vw;
    border-right: none;
    transition: all ease 500ms;
    .circle{
        transform: scale(35);
    }
    .container_nav{
        position: fixed;
    }
    .image_profile{
        width: 100px;
        margin-right: 10px;
        transition:all ease 500ms;
    }
    .icon_menu2{
        .top{
            transform: rotate(45deg) translateX(6px) translateY(-6px);
            transition:all ease 500ms;
            position: relative;
        }
        .middle{
            visibility: hidden;
            transition:all ease 100ms;
        }
        .bottom{
            transform: rotate(-45deg) translateX(-12px);
            transition:all ease 500ms;
            position: absolute;
        }
    }
}
.off{
    width: 50px;
    transition:all ease 500ms;
    .image_profile{
        transition:all ease 500ms;
    }
}

@media screen and (max-width:1920px){
    .on{
        .circle{
            transform: scale(45);
        }
    }
}
@media screen and (max-width:450px){
    .off{
        width: 44px;
    }
    .on{
        .circle{
            transform: scale(18);
        }
        .image_profile{
            width: 60px;
        }
    }
    .container_nav{
        padding-left: 5px;
    }
    .box_nav{
        margin-top: 5px;
        flex-direction: column;
    }
    .box_info_nav{
        width: 90%;
        padding-right: 0;
    }
    .images_pets{
        img{
            width: 40px;
        }
    }
    .box_tittle_nav{
        h1{
            font-size: 1.2rem;
        }
        h2{
            font-size: .8rem;
        }
    }
    .box_pets_nav{
        height: 30px;
        border-radius: 30px;
        padding-inline: 5px;
        margin-bottom: 10px;
        .image_razas{
            width: 40px;
        }
        .IconArrowRight_nav{
            width: 40px;
            margin-right: 0;
        }
    }
    .compromise_nav{
        h2{
            font-size: .7rem;
        }
    
    }
    .box_contact_nav{
        padding-top: 0;
        padding-left: 30px;
        padding-right: 0;
        width: 90%;
        h2{
            font-size: .7rem;
            p{
                font-size: .6rem;
            }
        }
    }
}