.container_root{
    position: relative;
    height: 120vh;
    width: 100vw;
}
.box_root{
   overflow: hidden; 
}
.container_landing{
    position:relative;
    z-index: 5;
    overflow: hidden;
    display: flex;
    width: 100vw;
    height: 105vh;
    padding-bottom: 10%;
}
.box_navbar_landing{
    position:fixed;
    z-index: 10;
    height: 100%;
}
.box_landing{
    display: grid;
    justify-content: left;
    align-items: center;
    text-align: left;
    margin-left: 80px;
}
.box_heading{
    display: grid;
    height:100%;
    align-items: flex-end;
    h1{
        margin: 0;
        z-index: 1;
    }
}
.sub_heading{
    display: grid;
    align-items: flex-start;
    height: 100%;
    p{
        width: 50%;
        text-wrap: pretty;
    }
}
.icons_landing{
    position: absolute;
    width: 100px;
    bottom: 25%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start   ;
}
.circle_langing{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    width: 100px;
    height: 100px;
    top: 40%;
    right: 5%;
    background-color: #C1DDE1;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 1.2s ease;
}
.caniche{
    position: relative;
    bottom: -20px;
    left:-20px;
    opacity: .2;
    width: 90px;
    filter: drop-shadow(5px 10px 10px #9c9595);
    transition:all 600ms ease;
}
.off_caniche{
    right: 0;
    opacity: 1;
    transition: all 100ms ease;
}
.off_landing{
    transform: scale(7);
}

.on_root{
    position: fixed;
}

@media screen and (max-width:450px)and (max-height: 900px){
    .box_landing{
        height: 40%;
        align-items: flex-start;
    }
    .icons_landing{
        bottom: 10%;
    }
    .box_heading{
        margin-top: 50px;
        height: 20%;
        h1{
            font-size: 2rem;
        }
    }
    .sub_heading{
        height: 20%;
        p{
            width: 95%;
        }
    }
    .circle_langing{
        top: 60%;
    }
    .off_landing{
        transform: scale(5);
    }
}